* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Outfit", sans-serif;
}

/* NAVBAR */

nav {
    padding-top: 20px;
}

nav div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style: none;
    margin-right: 80px;
}

a {
    text-decoration: none;
    color: black;
}

li a {
    display: flex;
    padding-left: 30px;
}

button a {
    color: white;
    font-family: "Outfit", sans-serif;
}
button {
    margin-right: 40px;
    padding: 7px 25px;
    font-size: 15px;
    font-weight: 400;
    background-color: #9F6D21;
    border: none;
    border-radius: 3px;
    
}